/**
 * @file
 * Page header styling.
 */

#section-header {
  margin: 0;
  padding: 0.5em 0;
  background-color: #002d5b;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.header-container {
  width: 96%;
  margin: 0 auto;
}

a.hfcc-home {
  display: block;
  height: 80px;
  text-indent: -9999px;
  background-color: #002d5b;
  background-image: url("../images/hfc-white.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100px 79px;
}

#name-and-slogan {
  text-align: center;
}

#site-name {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", Arial, sans-serif;
  font-size: 2.5em;
  font-weight: 400;
}

#site-name a {
  text-decoration: none;
  color: #fff;
  border-bottom: none;
}

#site-name a:hover,
#site-name a:focus {
  background-color: transparent;
}

@media only screen and (min-width: 480px) {
  a.hfcc-home {
    float: left;
    width: 100px;
    margin: 3px 6px;
  }

  #name-and-slogan {
    text-align: right;
  }
}

@media only screen and (min-width: 640px) {
  h1#site-name {
    font-size: 2.441em; /* 34.18px */
    line-height: 1.2288em;
  }
}

@media only screen and (min-width: 855px) {
  #section-header {
    min-height: 122px;
    margin: 0 0 1em;
  }

  .header-container {
    width: 86%;
    max-width: 1200px;
    margin: 0 auto;
  }

  a.hfcc-home {
    position: absolute;
    display: block;
    float: none;
    width: 163px;
    height: 110px;
    margin: 3px 0 0;
    text-indent: -9999px;
    background-size: 125px 100px;
  }
}
