/**
 * @file
 * This file defines the page layout structure.
 */

/**
 * To change the width of a sidebar, just modify the corresponding values of this sidebar.
 * For example, If you want to change the width of the right sidebar to 250px, change the
 * value of each line commented "Right Sidebar width" to 250px.
 */

#section-footer {
  float: none;
  clear: both;
}

/* Layout Helpers */

#section-header,
#section-footer,
#section-main #content .mission,
#section-main #content .breadcrumb,
#section-main #content .node {
  clear: both;
}

/* Responsive iframe / video */

.player {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video-wrap {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video-wrap iframe {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}

.video-js {
  width: 100% !important;
  height: auto !important;
  line-height: 0;
}

.video-js .vjs-tech {
  position: relative;
  overflow: auto;
  height: auto;
}

@media only screen and (min-width: 480px) {
  /* Wide mobile (480px+) styles go here */

  .two-sidebars #sidebar-first {
    float: left;
    width: 49%;
  }

  .two-sidebars #sidebar-second {
    float: right;
    width: 49%;
  }
}

@media only screen and (min-width: 768px) {
  /* Tablets/netbooks (768px+) styles go here */

  #content {
    float: left;
    width: 100%;
    margin-right: -100%;
    padding: 0;
  }

  .two-sidebars #content-inner {
    margin-right: 180px; /* Right Sidebar width */
    margin-left: 180px; /* Left Sidebar width */
  }

  .sidebar-second #content-inner {
    margin-right: 180px; /* Right Sidebar width */
  }

  .sidebar-first #content-inner {
    margin-left: 180px; /* Left Sidebar width */
  }

  #sidebar-first,
  .two-sidebars #sidebar-first {
    float: left;
    width: 180px;
    margin-right: -180px;
  }

  #sidebar-second,
  .two-sidebars #sidebar-second {
    float: right;
    width: 180px;
  }
}

@media only screen and (min-width: 960px) {
  /* Desktops (1024px+) styles go here */

  .two-sidebars #content-inner {
    margin-right: 23%; /* Right Sidebar width */
    margin-left: 23%; /* Left Sidebar width */
  }

  .sidebar-second #content-inner {
    margin-right: 23%; /* Right Sidebar width */
  }

  .sidebar-first #content-inner {
    margin-left: 23%; /* Left Sidebar width */
  }

  #sidebar-first,
  .two-sidebars #sidebar-first {
    float: left;
    width: 23%;
    margin-right: -23%;
  }

  #sidebar-second,
  .two-sidebars #sidebar-second {
    float: right;
    width: 23%;
  }
}
