/**
 * @file
 * Primary menu styling.
 */

/* Normal Menus */

ul.menu {
  margin: 0;
}

ul.menu li {
  margin: 0;
  padding: 0 0 0.75em 0;
  font-size: 1em;
}

ul.menu a {
  border: none;
  font-weight: normal;
}

ul.menu a.active {
  color: #333335;
}

ul.menu a.active:hover {
  text-decoration: none;
}

ul.menu .expanded,
ul.menu .collapsed {
  list-style-type: none;
  list-style-image: none;
}

ul.menu ul.menu {
  margin: 0.75em 0 0 0.75em;
}

ul.menu ul.menu ul.menu {
  margin: 0.75em 0 0 0.75em;
}

ul.menu li ul.menu li.last {
  padding: 0;
}

/* Main Navigation */

#section-navigation h2 {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  color: transparent;
}

ul#main-menu {
  display: block;
  padding-top: 1em;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  line-height: normal;
}

ul#main-menu li.expanded,
ul#main-menu li {
  display: block;
  margin: 0;
  padding: 0.2em 0.4em;
  text-align: left;
}

ul#main-menu li a {
  display: block;
  color: #0054a6; /* default color is our header color, overriding link color */
  border-bottom: none;
}

ul#main-menu li a.active {
  color: #333335;
}

ul#main-menu li a:focus,
ul#main-menu li a:hover {
  background-color: rgba(0, 0, 0, 0);
}

/* Breadcrumbs */

#breadcrumb a {
  border-bottom: none;
}

#breadcrumb a:hover,
#breadcrumb a:focus {
  border-bottom: none;
}

@media only screen and (min-width: 500px) {
  ul#main-menu > li {
    display: inline-block;
    text-align: center;
  }
}

@media only screen and (min-width: 855px) {
  #section-navigation .block-hfc-responsive-menu {
    margin: 2em auto 0.625em;
    font-size: 1.1em;
    line-height: normal;
  }

  #section-navigation .block-hfc-responsive-menu ul.menu a {
    color: #0054a6;
    font-weight: bold;
  }

  #hfcrespmenu {
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 1000px) {
  ul#main-menu > li {
    padding: 0.87em 0.9em;
  }
}
