/**
 * @file
 * Primary styling for nodes.
 */

.node-unpublished {
  background: url("../images/draft-bg.png") no-repeat right top transparent;
}

.node .submitted {
  margin: 0 0 0.5em;
  font-style: italic;
}

div.field-label-inline {
  margin: 0 0 1.5em;
}

.field-name-field-header-image {
  margin: 0 0 1.5em;
}

/* Format links section. */

.node .content .links {
  text-transform: uppercase;
  font-size: 0.8em; /* 11.2px */
  line-height: 1.875em;
}

.node .content .links li {
  padding: 0 0.328em 0 0;
}

.node .content .links a {
  padding: 0.134em 0.328em;
  text-decoration: none;
  color: #777;
  -moz-border-radius: 0.262em;
  border-radius: 0.262em;
  background: #ffa;
}

.node .content .links a:hover {
  text-decoration: underline;
  color: #555;
}

/* Format content blocks on landing pages. */

.node-landing-page .field-name-field-content-blocks > .field-items > .field-item {
  margin: 0 0.5%;
  padding: 0 0.5em;
}

.node-landing-page .field-name-field-content-blocks > .field-items > .field-item h2 {
  border-bottom: 1px solid #ccc;
}

.node-landing-page .field-name-field-content-blocks > .field-items > .field-item > div {
  padding: 0;
}

/* Format program sequence tables in program displays. */

.group-program-sequence thead > tr {
  padding: 0 0.6em;
}

.field-type-program-sequence {
  max-width: 1024px;
}

.field-type-program-sequence th {
  font-weight: bold;
}

.field-type-program-sequence td {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  vertical-align: top;
}

.field-type-program-sequence .term-title {
  padding: 0.5em 0 0.5em 0.25em;
  font-size: 1.1em;
  font-weight: bold;
}

.field-type-program-sequence .course-name {
  width: 10%;
  padding-right: 1em;
  white-space: nowrap;
}

.field-type-program-sequence .course-title {
  width: 50%;
  padding-right: 1em;
}

.field-type-program-sequence .course-prerequisites {
  width: 35%;
}

.field-type-program-sequence .hours {
  width: 10%;
  padding-left: 1em;
  text-align: right;
}

.field-type-program-sequence .term-total-hours-label,
.field-type-program-sequence .term-total-hours,
.field-type-program-sequence .prog-total-hours-label,
.field-type-program-sequence .prog-total-hours {
  padding: 0.25em 0;
  text-align: right;
  font-weight: bold;
}

/* Formatting for Webforms and other non-admin forms */

.form-item div.description {
  margin: 0.5em 0;
  padding: 0.5em 1em;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  background: #f2f2f2;
  font-style: italic;
}

.fieldset-legend {
  margin: 0 0 0.96em;
  padding: 0 0.5em;
  color: #0054a6;
  font-size: 1.563em;
  line-height: 1.92em;
}

fieldset {
  padding: 1em;
  border: 1px solid #ccc;
}

.form-item label {
  color: #444;
}

label.option {
  color: #222;
  font-size: 1em;
}

.marker,
.form-required {
  color: #e84a37;
}

.webform-progressbar-page {
  margin: -5px -4px;
  border: none;
  border-radius: 5px;
  background-color: #ccc;
}

.webform-progressbar-outer {
  border: none;
  background-color: #ccc;
}

.webform-progressbar-inner {
  background-color: #aac54e;
}

.webform-progressbar-page.completed {
  background-color: #aac54e;
}

.webform-progressbar-page.current {
  background-color: #aac54e;
}

/** HFC Web Services Client **/

#hfccwsclient-staffdir-form #edit-search {
  padding: 0 0.88em 1em;
  border: 1px solid #ccc;
}

#hfccwsclient-staffdir-form #edit-search > legend {
  padding: 0 0.325em;
}

#hfccwsclient-staffdir-form #edit-search .form-item {
  float: left;
  padding-right: 1.5em;
}

.staff-directory-results td {
  padding: 0.325em 0;
  vertical-align: top;
}

/** HFC BANE Client **/

.hfccbane-important-dates td {
  vertical-align: top;
}

.hfccbane-important-dates .event-date {
  width: 8em;
}

@media only screen and (min-width: 800px) {
  .hfccbane-important-dates .event-title {
    min-width: 18em;
  }
}

/* Topic List Content Pattern Styles */

ul.topic-list {
  margin: 0 0 1em 0;
}

.topic-info ul {
  list-style-type: initial;
}

.topic-item {
  display: block;
  padding: 1em 0;
  border-top: 1px solid #ccc;
}

.topic-item:last-child {
  border-bottom: 1px solid #ccc;
}

/* Gallery Content Pattern Styles */

.gallery-container {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.gallery-item {
  flex: 1 0 200px;
  min-width: 0; /* hack for firefox 3747 */
  padding: 0 0.5em 1em 0.5em;
}

@media only screen and (min-width: 480px) {
  .node-landing-page .field-name-field-content-blocks > .field-items > .field-item {
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }
}

@media only screen and (min-width: 640px) {
  .topic-info,
  .topic-title {
    display: inline-block;
    width: 66%;
    vertical-align: top;
  }

  .region-content .field-name-body .topic-info ul {
    margin: 0 0 1.5em 1em;
  }

  .topic-title {
    width: 33%;
    margin: 0;
  }

  .topic-info {
    padding: 0 0 0 2em;
  }
}

@media only screen and (min-width: 768px) {
  .node-landing-page .field-name-field-content-blocks > .field-items > .field-item {
    width: 32%;
  }
}

@media only screen and (min-width: 948px) {
  .gallery-4 .gallery-item {
    width: 25%;
  }

  .gallery-3 .gallery-item {
    width: 33.3333%;
  }

  .gallery-2 .gallery-item {
    width: 50%;
  }
}
