/**
 * @file
 * Primary page styling.
 */

body {
  color: #222;
  background: #fcfcff;
}

#page {
  margin: 0;
}

/* Set page width by constraining all container divs within it. */

#section-navigation > * {
  width: 88%;
  max-width: 1200px;
  margin: 0 auto 0.625em;
}

#billboard {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0;
}

#highlighted {
  margin-bottom: 1.5em;
  padding: 0;
  border-bottom: none;
  background-color: transparent;
}

#billboard img {
  display: block;
  max-width: 100%;
}

/**
 * Issue #6901 by micah
 * This is a great example of bad selectors. This css is probably for a VIEW in billboard region,
 * most likely on a specific site. But instead of theming .view-viewname or even #billboard view p,
 * the developer chose to theme every paragraph ever put in billboard region. I cannot fix this
 * as part of the issue, but I can at least complain about it in this comment, and override in
 * css_injector on sites where I don't want this. Sheesh.
 */

#billboard p {
  margin-top: -0.5em; /* fix for whitespace gap between image and caption */
  padding: 1em;
  color: #333;
  border: 1px solid #ddd;
  background-color: #f3f3f9;
  font-size: 1rem;
}

#section-main {
  width: 88%;
  max-width: 1000px;
  margin: 0 auto 1em;
}

.one-sidebar #section-main {
  max-width: 1200px;
}

.two-sidebars .region-navigation,
.two-sidebars #section-main {
  max-width: 1400px;
}

#content-inner {
  padding: 0 0 1.5em;
}

.region-content .field-name-body ol,
.region-content .field-name-body ul {
  margin: 0 0 1.5em 2.441em; /* indents enough for 3 digit numbered lists */
}

.region-content .field-name-body li ol,
.region-content .field-name-body li ul {
  margin: 0 0 0 1.25em;
}

#page-title {
  margin: 0 0 0.768em;
  color: #444;
  font-size: 1.953em;
  font-weight: bold;
  line-height: 1.536em;
}

/* Sidebars */

.sidebar {
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  background-color: #fafafa;
  font-size: 1em;
}

.region-sidebar-first,
.region-sidebar-second {
  padding: 1em;
}

.sidebar h2 {
  text-align: left;
  border-bottom: solid 1px #ccc;
  font-size: 1.5em;
}

/** Styling for Alert bulletins. **/

#block-hfccbane-bulletin {
  overflow: auto;
}

#block-hfccbane-bulletin a,
#block-hfccbane-bulletin a:link,
#block-hfccbane-bulletin a:visited {
  text-decoration: underline;
  color: inherit;
  border-bottom: none;
}

#block-hfccbane-bulletin > div {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
}

.yayb-important {
  color: #000;
  background-color: #ff0;
}

.yayb-major {
  color: #000;
  background-color: #ff8000;
}

.yayb-major > div {
  margin: 1em auto;
  border: 4px solid #000;
}

.yayb-critical {
  color: #fff;
  border: 4px double #fff;
  background-color: #c00000;
}

.yayb-critical > div {
  margin: 1em auto;
  border: 4px double #fff;
}

#block-hfcc-global-hfcc-global-footer-message ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

#block-hfcc-global-hfcc-global-footer-message li {
  display: inline;
}

#block-hfcc-global-hfcc-global-footer-message a {
  color: #444;
  border-bottom: 1px solid #444;
}

/** Fix for search page **/

#google-cse-results > iframe {
  max-height: 1200px;
}

@media only screen and (min-width: 768px) {
  .sidebar-first #content-inner {
    padding: 0 0 1.5em 1.25em;
  }

  .sidebar-second #content-inner {
    padding: 0 1.25em 1.5em 0;
  }

  .two-sidebars #content-inner {
    padding: 0 1.25em 1.5em;
  }
}
